html {
  min-width: 1280px;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 1em auto;
  position: relative;
  width: 1280px;
  color: #fff;
  background-color: #202020;
}

h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: -2px;
  margin: .3em 0 .1em 0;
}

h2 {
  margin-top: 2em;
}

h1, h2 {
  text-rendering: optimizeLegibility;
}

h2 a {
  color: #ccc;
  left: -20px;
  position: absolute;
  width: 740px;
}

footer {
  font-size: small;
  margin-top: 20px;
}

header aside {
  margin-top: 88px;
}

header aside,
footer aside {
  color: #636363;
  text-align: right;
}

aside, #galaxies {
  font-size: small;
  right: 0;
  position: absolute;
  width: 180px;
}

#galaxies {
  top: 40px;
}

.attribution {
  font-size: small;
  margin-bottom: 2em;
}

body > p, li > p {
  line-height: 1.5em;
}

body > p {
  width: 720px;
}

body > blockquote {
  width: 640px;
}

li {
  width: 680px;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

pre, code, textarea {
  font-family: "Menlo", monospace;
}

code {
  line-height: 1em;
}

textarea {
  font-size: 100%;
}

body > pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
}

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}

svg {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

sup, sub {
  line-height: 0;
}

q:before,
blockquote:before {
  content: "“";
}

q:after,
blockquote:after {
  content: "”";
}

blockquote:before {
  position: absolute;
  left: 2em;
}

blockquote:after {
  position: absolute;
}

.link {
    fill: none;
    stroke: #fff;
    stroke-opacity: .15;
}

.link:hover {
    stroke-opacity: .3;
}

div label, div input {
    display: block;
}

input[type='range']::-moz-range-track {
    -moz-appearance: none;
    border-radius: 30px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 5px;
}

input[type='range'] {
    -webkit-appearance: none;
    border-radius: 30px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 5px;
    vertical-align: middle;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 10px;
    width: 20px;
}
input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 10px;
    width: 20px;
}

div label {
    text-align: center;
}

#sliders {
    display: table;
    margin: 0 auto;
}

button {
    width: 120px;
    height: 25px;
    margin-top: 5px;
    font-size: 13pt;
}

.radio-tabs .tab_old {
    position: absolute;
    left: -10000px;
}
#zoo_1:focus ~ .tabs #zoo1_tab,
#zoo_2:focus ~ .tabs #zoo2_tab,
#zoo_3:focus ~ .tabs #zoo3_tab,
#zoo_4:focus ~ .tabs #zoo4_tab,
#weight_raw:focus ~ .tabs #raw_tab,
#weight_weighted:focus ~ .tabs #weighted_tab,
#weight_bias:focus ~ .tabs #bias_tab {
    box-shadow: 0 0 3px 3px rgba(0,127,255,.5);
}

.radio-tabs .tab {
    display: inline-block;
    padding: .5em;
    margin-bottom: 5px;
    vertical-align: top;
    background-color: #555;
    cursor: hand;
    cursor: pointer;
}

.radio-tabs .tab:hover {
    background-color: #666;
}

#zoo_1:disabled ~ .tabs #zoo1_tab,
#zoo_2:disabled ~ .tabs #zoo2_tab,
#zoo_3:disabled ~ .tabs #zoo3_tab,
#zoo_4:disabled ~ .tabs #zoo4_tab,
#weight_raw:disabled ~ .tabs #raw_tab,
#weight_weighted:disabled ~ .tabs #weighted_tab,
#weight_bias:disabled ~ .tabs #bias_tab {
    background-color: #333;
    color: #444;
    cursor: default;
}

#zoo_1:checked ~ .tabs #zoo1_tab,
#zoo_2:checked ~ .tabs #zoo2_tab,
#zoo_3:checked ~ .tabs #zoo3_tab,
#zoo_4:checked ~ .tabs #zoo4_tab,
#weight_raw:checked ~ .tabs #raw_tab,
#weight_weighted:checked ~ .tabs #weighted_tab,
#weight_bias:checked ~ .tabs #bias_tab {
    background-color: #fff;
    color: #000;
    cursor: default;
}

#zoo_tabs {
    float: left;
    margin-bottom: 10px;
}

#weight_tabs {
    float: right;
    margin-bottom: 10px;
}